## Remove Mission Value

#### Load Data

In [20]:
import pandas as pd

In [21]:
def load_data():
    data = pd.read_csv('data/resume.csv')
    return data

In [22]:
def get_missing_value(data):
    missing_value = data.isnull().sum()
    return missing_value

#### Display missing value

In [24]:
data = load_data()
missin_value = get_missing_value(data)
missin_value

نام                     0
نام خانوادگی            0
آدرس                  230
جنسیت                 803
معدل                    0
مقطع تحصیلی           280
رشته تحصیلی             0
سن                      0
مهارت                   0
تجربه کاری(به سال)      0
dtype: int64

#### remove white space in row

In [26]:
import re
pattern = r"\A\s*\Z" ## پیدا کردن سطر هایی که فقط space ذخیره شده اند
for i in range(len(data)-1):
    if (re.search(pattern ,str(data.loc[i, 'نام'])) != None ):
        data.loc[i, 'نام'] = re.sub(re.compile(pattern), '', data.loc[i, 'نام'])
        
    if (re.search(pattern ,str(data.loc[i, 'نام خانوادگی'])) != None ):
        data.loc[i, 'نام خانوادگی'] = re.sub(re.compile(pattern), '', data.loc[i, 'نام خانوادگی'])
        
    if (re.search(pattern ,str(data.loc[i, 'آدرس'])) != None ):
        data.loc[i, 'آدرس'] = re.sub(re.compile(pattern), '', data.loc[i, 'آدرس'])

    if (re.search(pattern ,str(data.loc[i, 'جنسیت'])) != None ):
        data.loc[i, 'جنسیت'] = re.sub(re.compile(pattern), '', data.loc[i, 'جنسیت'])

    if (re.search(pattern ,str(data.loc[i, 'معدل'])) != None ):
        data.loc[i, 'معدل'] = re.sub(re.compile(pattern), '', data.loc[i, 'معدل'])
    

    if (re.search(pattern ,str(data.loc[i, 'مقطع تحصیلی'])) != None ):
        data.loc[i, 'مقطع تحصیلی'] = re.sub(re.compile(pattern), '', data.loc[i, 'مقطع تحصیلی'])
    
    if (re.search(pattern ,str(data.loc[i, 'رشته تحصیلی'])) != None ):
        data.loc[i, 'رشته تحصیلی'] = re.sub(re.compile(pattern), '', data.loc[i, 'رشته تحصیلی'])
        
    if (re.search(pattern ,str(data.loc[i, 'سن'])) != None ):
        data.loc[i, 'سن'] = re.sub(re.compile(pattern), '', data.loc[i, 'سن'])
    
    if (re.search(pattern ,str(data.loc[i, 'مهارت'])) != None ):
        data.loc[i, 'مهارت'] = re.sub(re.compile(pattern), '', data.loc[i, 'مهارت'])

    if (re.search(pattern ,str(data.loc[i, 'تجربه کاری(به سال)'])) != None ):
        data.loc[i, 'تجربه کاری(به سال)'] = re.sub(re.compile(pattern), '', data.loc[i, 'تجربه کاری(به سال)'])

data.to_csv('data/resume.csv')

In [27]:
data = load_data()
missin_value = get_missing_value(data)
missin_value

Unnamed: 0              0
نام                     0
نام خانوادگی           16
آدرس                  230
جنسیت                 803
معدل                    0
مقطع تحصیلی           280
رشته تحصیلی           296
سن                      0
مهارت                 293
تجربه کاری(به سال)      0
dtype: int64

#### Remove missin value name

In [28]:
data.dropna(subset=['نام', 'نام خانوادگی', 'جنسیت'], inplace=True)
data.to_csv('data/resume.csv')
data = load_data()
missin_value = get_missing_value(data)
missin_value

Unnamed: 0.1            0
Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  182
جنسیت                   0
معدل                    0
مقطع تحصیلی           234
رشته تحصیلی           243
سن                      0
مهارت                 225
تجربه کاری(به سال)      0
dtype: int64

#### Remove null value for grade

In [15]:
data['معدل'].fillna(data['معدل'].mean(), inplace=True)
data.to_csv('data/resume.csv')
data = load_data()
missin_value = get_missing_value(data)
missin_value

/tmp/ipykernel_7876/15813124.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['معدل'].fillna(data['معدل'].mean(), inplace=True)

Unnamed: 0.8            0
Unnamed: 0.7            0
Unnamed: 0.6            0
Unnamed: 0.5            0
Unnamed: 0.4            0
Unnamed: 0.3            0
Unnamed: 0.2            0
Unnamed: 0.1            0
Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  182
جنسیت                   0
معدل                    0
مقطع تحصیلی             0
رشته تحصیلی           243
سن                      0
مهارت                 225
تجربه کاری(به سال)      0
dtype: int64

#### Remove null value for education

In [32]:
import random

## گرفتن لیست مقطع تحصیلی و حذف موارد اضافی
condition =  {'-1', '0', 'ندارد', None}
education = ['سیکل', 'دیپلم', 'کاردانی', 'فوق دیپلم', 'لیسانس', 'کارشناسی', 'فوق لیسانس', 'کارشناسی ارشد', 'دکترا', 'فوق دکترا']
index = data[data['مقطع تحصیلی'].isnull()].index

for i in index:
    
    age = data.loc[i, 'سن']

    if (age > 30):
         rand = random.randint(0, len(education)-1)    
         data.loc[i, 'مقطع تحصیلی'] = education[rand]

    elif (age > 25):
         rand = random.randint(0, 7)
         data.loc[i, 'مقطع تحصیلی'] = education[rand]

    elif (age > 20):
        rand = random.randint(0, 5)
        data.loc[i, 'مقطع تحصیلی'] = education[rand]
    else:
        rand = random.randint(0, 1)
        data.loc[i, 'مقطع تحصیلی'] = education[rand]
        

    
data.to_csv('data/resume.csv')
print('updated ...')

updated ...

In [33]:
data = load_data()
missin_value = get_missing_value(data)
missin_value

Unnamed: 0.4            0
Unnamed: 0.3            0
Unnamed: 0.2            0
Unnamed: 0.1            0
Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  182
جنسیت                   0
معدل                    0
مقطع تحصیلی             0
رشته تحصیلی           243
سن                      0
مهارت                 225
تجربه کاری(به سال)      0
dtype: int64

#### Remove missing value experince

In [31]:
data['تجربه کاری(به سال)'].fillna(data['تجربه کاری(به سال)'].mean(), inplace=True)
data.to_csv('data/resume.csv')
data = load_data()
missin_value = get_missing_value(data)
missin_value

/tmp/ipykernel_7876/529123513.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['تجربه کاری(به سال)'].fillna(data['تجربه کاری(به سال)'].mean(), inplace=True)

Unnamed: 0.3            0
Unnamed: 0.2            0
Unnamed: 0.1            0
Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  182
جنسیت                   0
معدل                    0
مقطع تحصیلی             0
رشته تحصیلی           243
سن                      0
مهارت                 225
تجربه کاری(به سال)      0
dtype: int64