## Remove Mission Value

#### Load Data

In [181]:
import pandas as pd

In [182]:
data = pd.read_csv('data/resume.csv')

#### Remove null value for gender

In [185]:
count_null()

Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  185
جنسیت                   0
معدل                    0
مقطع تحصیلی           236
رشته تحصیلی             0
سن                      0
مهارت                   0
تجربه کاری(به سال)      0
dtype: int64

In [179]:
# ## حذف جنسیت هایی که مقدار null دارد
# remove_grade = df[df['جنسیت'].isnull()].index
# data.drop(remove_grade, inplace=True)

#### Remove null value for grade

In [180]:
# ## ذخیره تغییرات
# data.to_csv('data/resume.csv')
# data.isnull().sum()

نام                     0
نام خانوادگی            0
آدرس                  185
جنسیت                   0
معدل                    0
مقطع تحصیلی           236
رشته تحصیلی             0
سن                      0
مهارت                   0
تجربه کاری(به سال)      0
dtype: int64

In [188]:
data['معدل'].fillna(data['معدل'].mean(), inplace=True)
data.to_csv('data/resume.csv')

/tmp/ipykernel_11570/3096707084.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['معدل'].fillna(data['معدل'].mean(), inplace=True)

#### Remove null value for education

In [216]:
import random

condition =  {'-1', '0', 'ندارد', None}
## گرفتن لیست مقطع تحصیلی و حذف موارد اضافی
education = ['سیکل', 'دیپلم', 'کاردانی', 'فوق دیپلم', 'لیسانس', 'کارشناسی', 'فوق لیسانس', 'کارشناسی ارشد', 'دکترا', 'فوق دکترا']


index = df[df['مقطع تحصیلی'].isnull()].index
for i in index:
    print(df.loc[i, 'مقطع تحصیلی'])
    age = df.loc[i, 'سن']

    if (age > 30):
         rand = random.randint(0, len(education)-1)    
         df.loc[i, 'مقطع تحصیلی'] = education[rand]

    elif (age > 25):
         rand = random.randint(0, 7)
         df.loc[i, 'مقطع تحصیلی'] = education[rand]

    elif (age > 20):
        rand = random.randint(0, 5)
        df.loc[i, 'مقطع تحصیلی'] = education[rand]
    else:
        rand = random.randint(0, 1)
        df.loc[i, 'مقطع تحصیلی'] = education[rand]
        

    
data.to_csv('data/resume.csv')
# df['مقطع تحصیلی'].fillna('ندارد', inplace=True)

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [215]:
data.isnull().sum()

Unnamed: 0              0
نام                     0
نام خانوادگی            0
آدرس                  185
جنسیت                   0
معدل                    0
مقطع تحصیلی            41
رشته تحصیلی             0
سن                      0
مهارت                   0
تجربه کاری(به سال)      0
dtype: int64