## load data

In [10]:
import pandas as pd

In [46]:
def load_data():
    data = pd.read_csv('data/resume.csv')
    return data

# load_data()

In [179]:
data = load_data()
# data_df = pd.DataFrame(data)
data

,نام,نام خانوادگی,آدرس,جنسیت,معدل,مقطع تحصیلی,رشته تحصیلی,سن,مهارت,تجربه کاری(به سال)
0,علي,ابوذر\n,خيابان مسعود بخت آزاد (ارباب مهدي) . نبش خيابا...,2.0,21,-1,تکنولوژی تولیدات دامی\n,51,منشی \n,5
1,محمد,جنتی\n,شهرک شریعتی خ ما هان ک 22,1.0,16,فوق دیپلم,زراعت و اصلاح نباتات\n,27,مهندس برق، الکترونیک، مخابرات\n,7
2,مريم,گل محمدی\n,شهرک غرب - بلوار فرهزادی - خ حافظی - نبش دل شاد,0.0,21,سیکل,مهندسی انرژی\n,41,کشاورز \n,3
3,مهدي,شاملو\n,مهراباد جنوبی خ واشقانی فراهانی نبش شامبولی غر...,-1.0,24,کارشناسی ارشد,کاردرمانی\n,53,نویسنده \n,23
4,حسين,خامنه‌ای\n,ولنجک-انتهای خ 22- گلستان چهارم غربی- بیمارستا...,1.0,24,فوق دیپلم,باستان‌شناسی\n,31,مهندس پلیمر \n,10
...,...,...,...,...,...,...,...,...,...,...
4048,يوسف علي,ملکیان\n,چهارراه مخبر الدوله -کوچه رفاهی,1.0,23,ندارد,امور گمرکی\n,43,راننده \n,8
4049,يوسف مهدي,لاجوردی\n,سه راه آذری خیابان شبیری,-1.0,13,فوق دکترا,مهندسی راه‌آهن\n,28,مهندسی نساجی\n,7
4050,يونا,رفیعی\n,تهران پارس بین عادل زرین وکوچه اذری راد,2.0,24,فوق لیسانس,0\n,51,کشاورز \n,8
4051,يونس رضا,شاملو\n,مرزداران غرب . نرسیده به اشرفی اصفهانی . بلوار...,0.0,23,دکترا,مهندسی کامپیوتر\n,54,اپراتور لوکوموتیو\n,23
4052,يونس علي,شریعتمداری\n,پیچ شمیران خیابان صفی علیشاه,NaN,13,0,فیزیک مهندسی\n,29,پرستار \n,0

## find and replace avg outliers metodes

In [180]:
def find_avg_outliers(data):

    max_avg = 20
    min_avg = 0

    outlier_avg = []
    for item in data['معدل']:
        if (item > max_avg) or (item < min_avg):
            outlier_avg.append(item)

    return outlier_avg


# find_avg_outliers(data)

In [181]:
def find_avg_mean(data, outliers):

    sum_avg = 0
    count_avg = 0
    for item in data['معدل']:
        if item not in outliers:
            sum_avg += item
            count_avg += 1

    return int(sum_avg / count_avg)

In [182]:
def handle_avg_outliers(data, outliers, avg_mean):

    len_data = len(data['معدل'])
    new_avgs = [0] * len_data
    for i in range(len_data):
        if data.iloc[i]['معدل'] in outliers:
            new_avgs[i] = avg_mean
        else:
            new_avgs[i] = data.iloc[i]['معدل']

    data['معدل'] = new_avgs
    return data

## find and replace avg outliers with mean

In [183]:
outliers = find_avg_outliers(data)
avg_mean = find_avg_mean(data, outliers)
data = handle_avg_outliers(data, outliers, avg_mean)
data['معدل']

0       16
1       16
2       16
3       16
4       16
        ..
4048    16
4049    13
4050    16
4051    16
4052    13
Name: معدل, Length: 4053, dtype: int64

## find and replace other columns outliers

### using Interquartile Range

In [184]:
import numpy as np
import seaborn as sns

In [185]:
def find_outliers(data):

    int_data = []
    for item in data:
        int_data.append(int(item))

    sort_data = np.sort(int_data)
    # sns.boxplot(sort_data)
   
    Q1 = np.percentile(int_data, 25, method = 'midpoint')
    Q2 = np.percentile(int_data, 50, method = 'midpoint') 
    Q3 = np.percentile(int_data, 75, method = 'midpoint')
    IQR = Q3 - Q1
    
    low_lim =  Q1 - 1.5 * IQR
    up_lim = Q3 + 1.5 * IQR
   
    outliers = []
    for item in int_data:
        if (item > up_lim) or (item < low_lim):
            outliers.append(item) 
   
    return outliers
    
# there is not any outlier in age column

In [186]:
def cal_mean(data, outliers):
    
    non_outliers_sum = 0
    non_outliers_count = 0
    for item in data:
        if item not in outliers:
            non_outliers_sum += item
            non_outliers_count += 1

    return int(non_outliers_sum / non_outliers_count)

In [187]:
def handle_column_utliers(data, outliers, column_mean):

    len_data = len(data)
    new_data = [0] * len_data
    for i in range(len_data):
        if data[i] in outliers:
            new_data[i] = column_mean
        else:
            new_data[i] = data[i]

    return new_data

In [188]:
def handle_numeric_outliers(data, columns):

    for column in columns:

        column_data = data[column]
        column_outliers = find_outliers(column_data)
        column_mean = cal_mean(column_data, column_outliers)
        new_column_data = handle_column_utliers(column_data, column_outliers, column_mean)
        data[column] = new_column_data

In [189]:
numeric_columns = ['سن', 'تجربه کاری(به سال)']
handle_numeric_outliers(data, numeric_columns)
data

,نام,نام خانوادگی,آدرس,جنسیت,معدل,مقطع تحصیلی,رشته تحصیلی,سن,مهارت,تجربه کاری(به سال)
0,علي,ابوذر\n,خيابان مسعود بخت آزاد (ارباب مهدي) . نبش خيابا...,2.0,16,-1,تکنولوژی تولیدات دامی\n,51,منشی \n,5
1,محمد,جنتی\n,شهرک شریعتی خ ما هان ک 22,1.0,16,فوق دیپلم,زراعت و اصلاح نباتات\n,27,مهندس برق، الکترونیک، مخابرات\n,7
2,مريم,گل محمدی\n,شهرک غرب - بلوار فرهزادی - خ حافظی - نبش دل شاد,0.0,16,سیکل,مهندسی انرژی\n,41,کشاورز \n,3
3,مهدي,شاملو\n,مهراباد جنوبی خ واشقانی فراهانی نبش شامبولی غر...,-1.0,16,کارشناسی ارشد,کاردرمانی\n,53,نویسنده \n,23
4,حسين,خامنه‌ای\n,ولنجک-انتهای خ 22- گلستان چهارم غربی- بیمارستا...,1.0,16,فوق دیپلم,باستان‌شناسی\n,31,مهندس پلیمر \n,10
...,...,...,...,...,...,...,...,...,...,...
4048,يوسف علي,ملکیان\n,چهارراه مخبر الدوله -کوچه رفاهی,1.0,16,ندارد,امور گمرکی\n,43,راننده \n,8
4049,يوسف مهدي,لاجوردی\n,سه راه آذری خیابان شبیری,-1.0,13,فوق دکترا,مهندسی راه‌آهن\n,28,مهندسی نساجی\n,7
4050,يونا,رفیعی\n,تهران پارس بین عادل زرین وکوچه اذری راد,2.0,16,فوق لیسانس,0\n,51,کشاورز \n,8
4051,يونس رضا,شاملو\n,مرزداران غرب . نرسیده به اشرفی اصفهانی . بلوار...,0.0,16,دکترا,مهندسی کامپیوتر\n,54,اپراتور لوکوموتیو\n,23
4052,يونس علي,شریعتمداری\n,پیچ شمیران خیابان صفی علیشاه,NaN,13,0,فیزیک مهندسی\n,29,پرستار \n,0

In [192]:
data['مقطع تحصیلی'].isnull().sum()
# data.isnull().sum()

280